/* .PlayerImage{
    background-image: url('https://png2.cleanpng.com/sh/32cdab08f30002eafe0591627e8458cb/L0KzQYm3VcI4N6F0g5H0aYP2gLBuTgJwdpJxfNt3aHAwcsPomvltNZ9mjNt4bnHvPbf2jCRjaZ1xReZuYX2wcX7qTf1qdJIyeuRqennvPcHzgglmel46eqJqYnS5dIW9VvI3P18AT6s7M0O2RIK8Usc1O2E6SKs7OEi4PsH1h5==/kisspng-ronaldinho-brazil-national-football-team-a-c-mila-brazil-player-5b0abd6d466b67.9792333415274305092885.png');
    min-height: 100vh;
    background-size: 100%;
    background-position: bottom;
    background-repeat: no-repeat;
} */