.SearchBar {
  height: 80px;
  background-color: #2d2d32;
  box-shadow: 0px 8px 15px 0px rgb(0 0 0 / 14%);
  z-index: 999;
  left: 0;
  top: 0;
  border-radius: 0px 0px 20px 0px;
  color: #fff;
  padding: 20px;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.3s ease-in-out;
  position: fixed;
}

.SearchBar.expand {
  position: fixed;
  margin: 0 auto;
  width: 100%;
}

.search-input.hide {
  display: none;
}

.search-input.show {
  display: block;
}

input {
  background: unset !important;
  border: unset !important;
  border-bottom: 1px #fff solid !important;
  border-radius: unset !important;
  color: #fff !important;
}

.searchRow {
  font-weight: bold;
  font-size: 17px;
  cursor: pointer;
  min-width: 150px;
}

.resultBar {
  overflow-y: auto;
  background-color: rgb(53, 53, 53);
  min-height: 240px;
}

.searchRow .playerName p {
  margin: 0 !important;
}

.searchRow .playerPhoto img {
  border-radius: 10px;
  width: 75px;
  max-width: 75px;
}

.searchRow .playerClub p {
  font-size: 15px;
}

.searchRow .playerClub img {
  max-width: 35px;
}

@media (max-width: 575.98px) {
  .SearchBar {
    width: 20%;
  }
  .SearchBar:hover {
    position: fixed;
    margin: 0 auto;
    width: 100%;
  }
}
