@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");


.App,
html,
body {
  background-color: #2f2f34;
  min-height: 100%;
  font-family: "Lato", sans-serif;
  font-weight: 400;
}

.secondary-bg {
  background-color: #2e3138;
}

ul {
  list-style: none;
}

ul > li {
  font-weight: 300;
}

.uppercase {
  text-transform: uppercase;
}

.fw300 {
  font-weight: 300 !important;
}

.fw400 {
  font-weight: 400 !important;
}

.fw700 {
  font-weight: 700 !important;
}

.fw900 {
  font-weight: 900 !important;
}

.custom-card {
  min-height: 200px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 8px 15px 0px rgba(0, 0, 0, 0.14);
  box-shadow: 0px 8px 15px 0px rgba(0, 0, 0, 0.14);
  padding: 0px 25px 0px 25px;
}

.custom-card p, li, h1, h2, h3, h4, h5, h6{
  color: #f6f6f7 !important;
}

text{
  fill: rgb(253 253 253) !important
}

.tooltip-chart {
  background-color: #f6f6f7;
  border-radius: 5px;
  padding: 2px 5px 2px 5px;
  text-transform: capitalize;
}