@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");

.App,
html,
body {
  background-color: #2f2f34;
  min-height: 100%;
  font-family: "Lato", sans-serif;
  font-weight: 400;
}

.secondary-bg {
  background-color: #2e3138;
}

ul {
  list-style: none;
}

ul > li {
  font-weight: 300;
}

.uppercase {
  text-transform: uppercase;
}

.fw300 {
  font-weight: 300 !important;
}

.fw400 {
  font-weight: 400 !important;
}

.fw700 {
  font-weight: 700 !important;
}

.fw900 {
  font-weight: 900 !important;
}

.custom-card {
  border-radius: 10px;
  -webkit-box-shadow: 0px 8px 15px 0px rgba(0, 0, 0, 0.14);
  box-shadow: 0px 8px 15px 0px rgba(0, 0, 0, 0.14);
  padding: 0px 25px 0px 25px;
}

.custom-card p,
li,
h1,
h2,
h3,
h4,
h5,
h6,
table {
  color: #f6f6f7 !important;
}

text {
  fill: rgb(253 253 253) !important;
}

.tooltip-chart {
  background-color: #f6f6f7;
  border-radius: 5px;
  padding: 2px 5px 2px 5px;
  text-transform: capitalize;
}

.custom-tab {
  border: none !important;
  min-height: 42px;
}

.custom-tab .nav-link {
  color: rgb(109, 105, 105) !important;
}

.nav-tabs .nav-link {
  border: none !important;
}

.custom-tab .nav-link.active {
  background: none !important;
  border: none !important;
  color: #f6f6f7 !important;
}

.custom-tab .nav-link:hover {
  border: none !important;
  color: #f6f6f7 !important;
}

.tab-content {
  min-height: 550px;
}

.DataTable {
  max-height: 500px;
  overflow-x: auto;
}

.tableFixHead {
  overflow-y: auto;
  height: 100px;
}
.tableFixHead thead th {
  position: sticky;
  top: 0;
}

/* Just common table stuff. Really. */
table {
  border-collapse: collapse;
  width: 100%;
}
th,
td {
  padding: 8px 16px;
}
th {
  background: #454d55;
}


.modal-90w {
  min-width: 90% !important;
}

.modal-content {
  background: #2e3138 !important;
}

.modal-header {
  border: none !important;
}

.modal-title {
  text-align: center;
  color:#f6f6f7;
  width: 100%;
}

button.close {
  color: #f6f6f7;
  text-shadow: none !important;
  opacity: 1;
}

button.close:hover{
  color: #FFF;
}

.fullscreen {
  cursor: pointer;
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .custom-card {
    margin-top: 7px;
    margin-bottom: 7px;
  }

  .w-xs-100 {
    width: 100% !important;
  }

  .w-xs-75 {
    width: 75% !important;
  }

  .w-xs-50 {
    width: 50% !important;
  }

  .w-xs-25 {
    width: 25% !important;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  .w-sm-100 {
    width: 100% !important;
  }

  .w-sm-75 {
    width: 75% !important;
  }

  .w-sm-50 {
    width: 50% !important;
  }

  .w-sm-25 {
    width: 25% !important;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .w-md-100 {
    width: 100% !important;
  }

  .w-md-75 {
    width: 75% !important;
  }

  .w-md-50 {
    width: 50% !important;
  }

  .w-md-25 {
    width: 25% !important;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .w-lg-100 {
    width: 100% !important;
  }

  .w-lg-75 {
    width: 75% !important;
  }

  .w-lg-50 {
    width: 50% !important;
  }

  .w-lg-25 {
    width: 25% !important;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .w-xl-100 {
    width: 100% !important;
  }

  .w-xl-75 {
    width: 75% !important;
  }

  .w-xl-50 {
    width: 50% !important;
  }

  .w-xl-25 {
    width: 25% !important;
  }
}

.car-col-2 {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
}

.car-col-1 {
  -webkit-column-count: 1;
  -moz-column-count: 1;
  column-count: 1;
}

.car-col-3 {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
}

.car-col-4 {
  -webkit-column-count: 4;
  -moz-column-count: 4;
  column-count: 4;
}

.car-col-5 {
  -webkit-column-count: 5;
  -moz-column-count: 5;
  column-count: 5;
}

.car-col-6 {
  -webkit-column-count: 6;
  -moz-column-count: 6;
  column-count: 6;
}

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #e1e1e1;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}
::-webkit-scrollbar-thumb:active {
  background: #000000;
}
::-webkit-scrollbar-track {
  background: #666666;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
  background: #666666;
}
::-webkit-scrollbar-track:active {
  background: #333333;
}
::-webkit-scrollbar-corner {
  background: transparent;
}
