.HomePage {
  min-height: 100vh;
}

.leagueList {
    margin-top: 150px !important;
}

.badgeList {
  width: 180px;
  background-color: #88888c;
  border-radius: 5px;
  cursor: pointer;
}

.badgeList img {
  width: 100px;
  max-width: 100px;
}

.badgeList .countryFlag img {
  max-width: 26px;
  max-height: 16px;
}
